<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4">
      <a routerLink="/people/new" class="btn btn-success rounded-circle"><i class="fas fa-plus"></i></a>
    </div>
</div>
<div class="row">
  <div class="col col-4"></div>
  <div class="col col-4">
    <table class="table table-striped">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col"></th>
      </tr>
      <tr *ngFor="let p of people">
        <td><p>{{p.name}}</p></td>
        <td><p>{{p.firstName}}</p></td>
        <td><a routerLink="/people/{{p.id}}" class="btn btn-warning rounded-circle"><i class="fas fa-edit"></i></a><a class="btn btn-danger rounded-circle disabled"><i class="fas fa-trash"></i></a></td>
      </tr>
    </table>
  </div>
</div>
