<h2 *ngIf="id > 0"></h2>
<div class="row">
  <div class="col col-4"></div>
  <div class="col col-4">
    <form *ngIf="personFormGroup" [formGroup]="personFormGroup" (ngSubmit)="onFormSubmit()">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Nom</span>
        </div>
        <input formControlName="name" placeholder="Entrer Nom" type="text" class="form-control"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Prénom</span>
        </div>
        <input formControlName="firstname" placeholder="Entrer Prénom" type="text" class="form-control"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Date de naissance</span>
        </div>
        <input formControlName="birthdate" placeholder="Entrer Nom" type="date" class="form-control"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div style="display: flex">
        <button style="flex: 1" class="btn btn-outline-warning" type="submit">Enregistrer</button>
        <a style="flex: 1" class="btn btn-outline-secondary" routerLink="/people/list">Annuler</a>
      </div>

    </form>
  </div>
</div>
