<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4">
    <a routerLink="/activities/new" class="btn btn-success rounded-circle"><i class="fas fa-plus"></i></a>
    </div>
</div>
<div class="row">
  <div class="col col-4"></div>
  <div class="col col-4">
    <table class="table table-striped">
      <tr>
        <th>Nom</th>
        <th>Ville</th>
        <th></th>
      </tr>
      <tr *ngFor="let a of activities">
        <td><p>{{a.name}}</p></td>
        <td><p>{{a.city}} ({{a.postalCode}})</p></td>
        <td><a routerLink="/activities/{{a.id}}" class="btn btn-warning rounded-circle"><i class="fas fa-edit"></i></a><a class="btn btn-danger rounded-circle" (click)="delete(a.id)"><i class="fas fa-trash"></i></a></td>
      </tr>
    </table>
  </div>
</div>
